<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Recetas</title>
    <style>
        table {
            width: 100%;
            text-align: left;
            font-family: 'Consolas', monospace;
        }

    </style>

</head>
<body>
    <h1>API Recetas</h1>
    <hr>
    <h2>Usuarios</h2>
    <table>
        <tr>
            <th>Method</th>
            <th>Endpoint</th>
            <th>Descripcion</th>
            <th>Link</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>/usuarios</td>
            <td>Obtener todos los usuarios</td>
            <td><a href="/usuarios">Ir al Endpoint</a></td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/usuario/&lt;id&gt;</td>
            <td>Obtener usuario por &lt;id&gt;</td>
            <td><a href="/usuario/1">Ir al Endpoint</a></td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/peliculas/</td>
            <td>Obtener todas las recetas</td>
            <td><a href="/peliculas">Ir al Endpoint</a></td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/pelicula/&lt;id&gt;</td>
            <td>Obtener receta por &lt;id&gt;</td>
            <td><a href="/pelicula/1">Ir al Endpoint</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>