<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reviews y comentarios sobre peliculas por sus propios espectadores." />
    <title>TUPeli.tk</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Inter:wght@100;400;700&display=swap" rel="stylesheet">
<body>
    <header class="header">
        <div class="header-logo">
            <h1 class="header-title">TUPeli</h1>
            <div class="header-slogan">Tu opinión, tu puntuación, TUPeli 😉</div>
        </div>
        
        <nav class="header-nav" id="navigation">
            <a class="typcn typcn-times menu-mobile cerrar" id="mobile-cerrar"> Cerrar</a>
            <a href="/" class="link">Inicio</a>
            <a href="/directores" class="link">Directores</a>
            <a href="/peliculas" class="link">Peliculas</a>
      
        </nav>
    </header>

    <main class="top10">
        <h1 class="titulo-principal">¡Cargá tu pelicula!</h1>
    
        <div id="formulario_carga">

            
            <h3>¡Dejá tu recomendación!</h3>

            <label for="titulo_pelicula">Titulo: </label>
            <input type="text" id="lname" name="lastname" placeholder="titulo pelicula">
            
            <label for="anio">Año: </label>
            <input type="number" id="anio" name="anio" placeholder="Año" value=2022>

            <label for="director_id">Director</label>
            <select id="director_id" name="director">
            <option value="dire1">dire1</option>
            <option value="dire2">dire2</option>
            <option value="dire3">dire3</option>
            </select>
            
            <label for="genero">Director</label>
            <select id="genero" name="genero">
            <option value="genero1">genero</option>
            <option value="genero1">genero</option>
            <option value="genero1">genero</option>
            </select>
            
            <label for="calificacion">Calificacion</label>
            <select id="calificacion" name="calificacion">
            <option value="5">⭐⭐⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="2">⭐⭐</option>
            <option value="1">⭐</option>
            
            </select>
            
            <label for="sinopsis">Sinopsos</label>
            <textarea id="sinopsis" name="sinopsis" placeholder="Sinopsis" style="height:200px"></textarea>
            
            <label for="imagen_pelicula">Portada: </label>
            <input type="url" id="imagen_pelicula" placeholder="url portada">
            
            <label for="trailer">Trailer: </label>
            <input type="url" id="trailer" placeholder="url trailer">
            
            
            <label for="resenia">Reseña</label>
            <textarea id="resenia" name="resenia" placeholder="Escribe tu reseña.." style="height:200px"></textarea>

            <input type="submit" value="Enviar">
        </form>
        </div>

        </div>    
    </main>


    <footer class="pie">
        <div class="columna">
            <h3 class="titulo">TUPeli.tk</h3>
            <a href="#" class="link">Top 10 reviews</a>
            <a href="#" class="link">Directores</a>
            <a href="#" class="link">Peliculas</a>
        </div>
        <div class="columna">
            <h3 class="titulo">Escribinos!</h3>
            <a href="mailto:hola@tupeli.tk" class="link">hola@tupeli.tk</a>
        </div>
        <div class="columna">
            <h3 class="titulo">Creado con 💪 por:</h3>
            <a href="https://www.linkedin.com/in/ezequiel-herbosa/" target="_blank">Ezequiel Herbosa</a>
            <a href="https://www.linkedin.com/in/dante-pereyra/" class="_blank">Dante Pereyra</a>
        </div>
    </footer>


</body>
</html>