<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reviews y comentarios sobre peliculas por sus propios espectadores." />
    <title>TUPeli.tk</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Inter:wght@100;400;700&display=swap" rel="stylesheet">
<body>
    <header class="header">
        <div class="header-logo">
            <h1 class="header-title">TUPeli</h1>
            <div class="header-slogan">Tu opinión, tu puntuación, TUPeli 😉</div>
        </div>
        
        <nav class="header-nav" id="navigation">
            <a class="typcn typcn-times menu-mobile cerrar" id="mobile-cerrar"> Cerrar</a>
            <a href="/" class="link">Inicio</a>
            <a href="/directores" class="link">Directores</a>
            <a href="/peliculas" class="link">Peliculas</a>
      
        </nav>
    </header>

    <main class="top10">
        <h1 class="titulo-principal">¡Cargá tu pelicula!</h1>
            <div id="formulario_carga">
            <div class="input-group col12">
                <label for="titulo">Titulo: </label>
                <input type="text" id="lname" name="lastname" placeholder="titulo pelicula">
            </div>
            <div class="input-group col18">
                <label for="anio">Año: </label>
                <input type="number" id="anio" name="anio" placeholder="Año" value=2022>
            </div>
            <div class="input-group col316">
                <label for="genero">Genero: </label>
                <select id="genero" name="genero">
                    <option disabled selected value> Genero </option>
                    <option value="Acción">Acción</option>
                    <option value="Animacion">Animacion</option>
                    <option value="Aventura">Aventura</option>
                    <option value="Ciencia ficcion">Ciencia ficcion</option>
                    <option value="Comedia">Comedia</option>
                    <option value="Crimen">Crimen</option>
                    <option value="Documental">Documental</option>
                    <option value="Drama">Drama</option>
                    <option value="Fantasía">Fantasía</option>
                    <option value="Romantica">Romantica</option>
                    <option value="Suspenso">Suspenso</option>
                    <option value="Terror">Terror</option>

                </select>
            </div>
            <div class="input-group col316">
                <label for="sub_genero">Sub genero: </label>
                <select id="genero" name="genero">
                    <option value="genero"> Sub genero </option>
                    <option disabled selected value> Genero </option>
                    <option value="Acción">Acción</option>
                    <option value="Animacion">Animacion</option>
                    <option value="Aventura">Aventura</option>
                    <option value="Ciencia ficcion">Ciencia ficcion</option>
                    <option value="Comedia">Comedia</option>
                    <option value="Crimen">Crimen</option>
                    <option value="Documental">Documental</option>
                    <option value="Drama">Drama</option>
                    <option value="Fantasía">Fantasía</option>
                    <option value="Romantica">Romantica</option>
                    <option value="Suspenso">Suspenso</option>
                    <option value="Terror">Terror</option>
            </select>
            </div>
            <div class="input-group col14">
                <label for="director_id">Director</label>
                <select id="director_id" name="director">
                    <option disabled selected value="dire1"> Director </option>
                    <option value="Wachowsky">Wachowsky</option>
                    <option value="Ridley Scott">Ridley Scott</option>
                    <option value="Denis Villeneuve">Denis Villeneuve</option>
                </select>
            </div>
            <div class="input-group col14">
                <label for="sinopsis">Sinopsos</label>
                <textarea id="sinopsis" name="sinopsis" placeholder="Sinopsis" style="height:200px"></textarea>
            </div>
            <div class="input-group col14">
                <label for="imagen_pelicula">Portada: </label>
                <input type="url" id="imagen_pelicula" placeholder="url portada">
            </div>
            <div class="input-group col14">
                <label for="trailer">Trailer: </label>
                <input type="url" id="trailer" placeholder="url trailer">
            </div>
            
            <div class="input-group col1">
            </div>
            
            <div class="input-group col14">
                <select id="promedio" name="promedio">
                    <option value="5">⭐⭐⭐⭐⭐</option>
                    <option value="4">⭐⭐⭐⭐</option>
                    <option value="3">⭐⭐⭐</option>
                    <option value="2">⭐⭐</option>
                    <option value="1">⭐</option>
                </select>         
            </div>
            <div class="input-group col34">
                <label for="comentarios">Reseña</label>
            <textarea id="comentarios" name="comentarios" placeholder="Escribe tu reseña.." style="height:200px"></textarea>
            </div>
            <div class="input-group col34">
            </div>
            <div class="input-group col14">
                <input type="submit" value="Enviar">
            </div>
        </form>
        </div>

        </div>    
    </main>

    <footer class="pie">
        <div class="columna">
            <h3 class="titulo">TUPeli.tk</h3>
            <a href="/" class="link">Top 10 reviews</a>
            <a href="/directores" class="link">Directores</a>
            <a href="/peliculas" class="link">Peliculas</a>
        </div>
        <div class="columna">
            <h3 class="titulo">Escribinos!</h3>
            <a href="mailto:hola@tupeli.tk" class="link">hola@tupeli.tk</a>
        </div>
        <div class="columna">
            <h3 class="titulo">Creado con 💪 por:</h3>
            <a href="https://www.linkedin.com/in/ezequiel-herbosa/" target="_blank">Ezequiel Herbosa</a>
            <a href="https://www.linkedin.com/in/dante-pereyra/" class="_blank">Dante Pereyra</a>
        </div>
    </footer>
    
    <script src="{{ url_for('static', filename='menu.js') }}"></script>

</body>
</html>