<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reviews y comentarios sobre peliculas por sus propios espectadores." />
    <title>TUPeli</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Inter:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <h1 class="header-title">TUPeli</h1>
            <div class="header-slogan">Tu opinión, tu puntuación, TUPeli 😉</div>
        </div>
        
        <nav class="header-nav" id="navigation">
            <a class="typcn typcn-times menu-mobile cerrar" id="mobile-cerrar"> Cerrar</a>
            <a href="/" class="link">Inicio</a>
            <a href="/directores" class="link">Directores</a>
            <a href="/peliculas" class="link">Peliculas</a>
      
        </nav>
        <a class="typcn typcn-th-menu menu-mobile" id="mobile-hamburger"></a>
    </header>

    <main class="top10">
        <h1 class="titulo-principal">Últimas pelis</h1>
        <div class="tupeli">
            <div class="tupeli-peli-review flex">
                <div class="tupeli-review flex">
                    <div class="tupeli-comentario">De las mejores pelis que vi! Los dinosaurios fueron muy creibles.</div>
                    <div class="tupeli-rating">⭐⭐⭐⭐⭐</div>
                    <div class="tupeli-autor ml-auto">El Dante</div>
                </div>
                <div class="tupeli-peli">
                    <div class="tupeli-titulo">Jurassic Park</div>
                    <div class="tupeli-anio">1993</div>
                    <div class="tupeli-promedio">⭐⭐⭐⭐ 4.2</div>
                    <div class="tupeli-descripcion">El multimillonario John Hammond hace realidad su sueño de clonar dinosaurios del Jurásico y crear con ellos un parque temático en una isla. Antes de abrir el parque al público general, Hammond invita a una pareja de científicos y a un matemático para que comprueben la viabilidad del proyecto.</div>
                </div>
            </div>
                <div class="tupeli-imagen">
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSVvdES4O7zcoqcxElrT5cy33kFcDe4a20EzyB91x24yYMReIpy" alt="Jurassic Park" srcset="">
                </div>
        </div>
        <div class="tupeli">
            <div class="tupeli-peli-review flex">
                <div class="tupeli-review flex">
                    <div class="tupeli-comentario">De las mejores pelis que vi! Los dinosaurios fueron muy creibles.</div>
                    <div class="tupeli-rating">⭐⭐⭐⭐⭐</div>
                    <div class="tupeli-autor ml-auto">El Dante</div>
                </div>
                <div class="tupeli-peli">
                    <div class="tupeli-titulo">Jurassic Park</div>
                    <div class="tupeli-anio">1993</div>
                    <div class="tupeli-promedio">⭐⭐⭐⭐ 4.2</div>
                    <div class="tupeli-descripcion">El multimillonario John Hammond hace realidad su sueño de clonar dinosaurios del Jurásico y crear con ellos un parque temático en una isla. Antes de abrir el parque al público general, Hammond invita a una pareja de científicos y a un matemático para que comprueben la viabilidad del proyecto.</div>
                </div>
            </div>
                <div class="tupeli-imagen">
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSVvdES4O7zcoqcxElrT5cy33kFcDe4a20EzyB91x24yYMReIpy" alt="Jurassic Park" srcset="">
                </div>
        </div>
        <div class="tupeli">
            <div class="tupeli-peli-review flex">
                <div class="tupeli-review flex">
                    <div class="tupeli-comentario">De las mejores pelis que vi! Los dinosaurios fueron muy creibles.</div>
                    <div class="tupeli-rating">⭐⭐⭐⭐⭐</div>
                    <div class="tupeli-autor ml-auto">El Dante</div>
                </div>
                <div class="tupeli-peli">
                    <div class="tupeli-titulo">Jurassic Park</div>
                    <div class="tupeli-anio">1993</div>
                    <div class="tupeli-promedio">⭐⭐⭐⭐ 4.2</div>
                    <div class="tupeli-descripcion">El multimillonario John Hammond hace realidad su sueño de clonar dinosaurios del Jurásico y crear con ellos un parque temático en una isla. Antes de abrir el parque al público general, Hammond invita a una pareja de científicos y a un matemático para que comprueben la viabilidad del proyecto.</div>
                </div>
            </div>
                <div class="tupeli-imagen">
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSVvdES4O7zcoqcxElrT5cy33kFcDe4a20EzyB91x24yYMReIpy" alt="Jurassic Park" srcset="">
                </div>
        </div>
        <div class="tupeli">
            <div class="tupeli-peli-review flex">
                <div class="tupeli-review flex">
                    <div class="tupeli-comentario">De las mejores pelis que vi! Los dinosaurios fueron muy creibles.</div>
                    <div class="tupeli-rating">⭐⭐⭐⭐⭐</div>
                    <div class="tupeli-autor ml-auto">El Dante</div>
                </div>
                <div class="tupeli-peli">
                    <div class="tupeli-titulo">Jurassic Park</div>
                    <div class="tupeli-anio">1993</div>
                    <div class="tupeli-promedio">⭐⭐⭐⭐ 4.2</div>
                    <div class="tupeli-descripcion">El multimillonario John Hammond hace realidad su sueño de clonar dinosaurios del Jurásico y crear con ellos un parque temático en una isla. Antes de abrir el parque al público general, Hammond invita a una pareja de científicos y a un matemático para que comprueben la viabilidad del proyecto.</div>
                </div>
            </div>
                <div class="tupeli-imagen">
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSVvdES4O7zcoqcxElrT5cy33kFcDe4a20EzyB91x24yYMReIpy" alt="Jurassic Park" srcset="">
                </div>
        </div>
        
    </main>
    <footer class="pie">
        <div class="columna">
            <h3 class="titulo">TUPeli.tk</h3>
            <a href="/" class="link">Top 10 reviews</a>
            <a href="/directores" class="link">Directores</a>
            <a href="/peliculas" class="link">Peliculas</a>
        </div>
        <div class="columna">
            <h3 class="titulo">Escribinos!</h3>
            <a href="mailto:hola@tupeli.tk" class="link">hola@tupeli.tk</a>
        </div>
        <div class="columna">
            <h3 class="titulo">Creado con 💪 por:</h3>
            <a href="https://www.linkedin.com/in/ezequiel-herbosa/" target="_blank">Ezequiel Herbosa</a>
            <a href="https://www.linkedin.com/in/dante-pereyra/" class="_blank">Dante Pereyra</a>
        </div>
    </footer>

    <template id="pelicula">
        <div class="tupeli">
            <div class="tupeli-peli">
                <div class="tupeli-titulo">TITULO</div>
                <div class="tupeli-anio">AÑO</div>
                <div class="tupeli-descripcion">DESCRIPCION</div>
                <div class="flex mt-1">
                    <div class="tupeli-rating">RATING</div>
                    <div class="tupeli-autor ml-auto">AUTOR</div>
                </div>
                <div class="tupeli-review">REVIEW</div>
            </div>
            <div class="tupeli-imagen-promedio">
                <div class="tupeli-imagen"><img src="{{ url_for('static', filename='default.png') }}" alt="TITULO poster" srcset=""></div>
                <div class="tupeli-promedio-stars">
                    <div class="tupeli-stars">STARS</div>
                    <div class="tupeli-promedio">PROMEDIO</div>
                </div>
            </div>
        </div>
    </template>
    <script>
        
        document.getElementById("mobile-cerrar").addEventListener("click", mobileToggle);
        document.getElementById("mobile-hamburger").addEventListener("click", mobileToggle)

        function mobileToggle() {
            document.getElementById("navigation").classList.toggle("mobile-active");
        }
        
    </script>
    <script>
        let cookies = document.cookie
        let logueado = cookies.includes("usuario") && cookies.includes("validado=true")
        const nav = document.getElementById("navigation")
    
        if (logueado) {
            nav.innerHTML += '<a href="/agregar" class="link" id="agregar">+ Agregar Pelicula</a><a href="/perfil" class="link" id="perfil">Perfil</a>'
        } else {
            nav.innerHTML += '<a href="/ingresar" class="link" id="login">Ingresar</a>'
        }
    </script>
</body>
</html>
