<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reviews y comentarios sobre peliculas por sus propios espectadores." />
    <title>TUPeli.tk</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Inter:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <header class="header">
        <img src="favicon.png" alt="TUPeli" class="header-logo">
        <h1 class="header-title">TUPeli.tk</h1>
        <nav class="header-nav ml-auto">
            
        </nav>
    </header>
    <main class="top10">
        <h1 class="titulo-principal"></h1>
        
        <div class="login">
            <div id="contenedor">
            
                <div id="contenedorcentrado">
                    <div id="login">
                        <div id="errorLogin"></div>
                        <form id="loginform" method="post">
                            <label for="usuario">Usuario</label>
                            <input id="usuario" type="text" name="usuario" placeholder="Usuario" required>
                            
                            <label for="password">Contraseña</label>
                            <input id="password" type="password" placeholder="Contraseña" name="password" required>
                            
                        </form>
                        <button id="enviar" title="Ingresar" name="Ingresar">Login</button>
                        
                    </div>
                    <div id="derecho">
                        <div class="titulo">
                            Bienvenido
                        </div>
                        <hr>
                        <br><br><br>   
                        <a href="index.html">« Volver</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        
    </main>
    <footer class="pie">
        <div class="columna">
            <h3 class="titulo">TUPeli.tk</h3>
            <a href="#" class="link">Top 10 reviews</a>
            <a href="#" class="link">Directores</a>
            <a href="#" class="link">Peliculas</a>
        </div>
        <div class="columna">
            <h3 class="titulo">Escribinos!</h3>
            <a href="mailto:hola@tupeli.tk" class="link">hola@tupeli.tk</a>
        </div>
        <div class="columna">
            <h3 class="titulo">Creado con 💪 por:</h3>
            <a href="https://www.linkedin.com/in/ezequiel-herbosa/" target="_blank">Ezequiel Herbosa</a>
            <a href="https://www.linkedin.com/in/dante-pereyra/" class="_blank">Dante Pereyra</a>
        </div>
    </footer>
   
    <script>


        

        let botonEnviar = document.getElementById('enviar');
        
       

        botonEnviar.addEventListener('click' , evento =>{

            let campoUsuario = document.getElementById('usuario').value;
            let campoPassword = document.getElementById('password').value;
            let campoError = document.getElementById('errorLogin');
            
            let data = {
                usuario: campoUsuario,
                contrasenia: campoPassword,
            }
            
            let requestOptions = {
                method: 'POST',
                mode: 'cors', 
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
            };

            fetch('http://127.0.0.1:5000/api/login', requestOptions)
                .then( resp => resp.json())
                .then( validado => {
                    console.log(validado);
                    
                    
                    if (validado){
                        console.log("usuario registrado");
                        campoError.innerHTML = "";
                        let expiracion = new Date();
                        expiracion.setDate(expiracion.getDate() + 1);
                        document.cookie =`usuario=${validado.usuario};expires=${expiracion}`
                        document.cookie =`nombre=${validado.nombre};expires=${expiracion}`
                        document.cookie =`id=${validado.id};expires=${expiracion}`
                        document.cookie =`validado=true;expires=${expiracion}`
                        window.location = "/"; // redirecciona a otra pag
                    } else{
                        console.log("error de login");
                        campoError.innerHTML = "Error en el ingreso";
                    }


                })
            
        })

    </script>

</body>
</html>
