/* Iconos */
@import '../font/typicons.css';
@font-face {
    font-family: 'typicons';
    src: url("path/to/typicons.eot");
    src: url("path/to/typicons.eot?#iefix") format('embedded-opentype'),
         url("path/to/typicons.woff") format('woff'),
         url("path/to/typicons.ttf") format('truetype'),
         url("path/to/typicons.svg#typicons") format('svg');
    font-weight: normal;
    font-style: normal;
  }

/* Estructura */
html, body {
    box-sizing:content-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #384580;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex {
    display: flex;
}

.ml-auto {
    margin-left: auto;
}

.mt-1 {
    margin-top: 1em;
}

.header {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-between;
    background-color: tomato;
    color: white;
    padding: 1em;
    overflow-x: hidden;
}

.header-title {
    margin: 0;
    padding-left: 1.5em;
    font-size: 1.5em;
    background: url(../favicon.png) no-repeat;
    background-size: contain;
}

.header-slogan {
    margin-left: 3em;
    margin-top: 0;
    font-size: 0.8em;
}

.header-nav {
    backdrop-filter: blur(7px) brightness(.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateX(100%);
    transition: all .5s ease-in-out;
}

.header-nav.mobile-active {
    transform: translateX(0%);
    opacity: 1;
}

.header-nav .link {
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 1.7em;
    text-shadow: 1px 1px 1px rgba(105, 45, 45, 0.6);
    border-bottom: 1px solid white;
    text-decoration: none;
    padding: 1em;
    display: inline-block;
}

.menu-mobile {
    font-size: 1.3em;
}

.menu-mobile.cerrar {
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid;
}

main {
    max-width: 1260px;
    margin: auto;
}

.titulo-principal { 
    color: #fff;
    font-size: 2em;
    margin: 0.5em;
    width: 100%;
    text-shadow: 1px 1px tomato, 2px 2px tomato, 3px 3px tomato;
}

/* Peliculas */

.top10 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tupeli {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    border-radius: .5em;
    display: flex;
    flex-direction: row-reverse;
    background: #fff;
    box-sizing: border-box;
    z-index: 1;
}

.tupeli-peli-review {
    flex-direction: column-reverse;
}

.tupeli-peli {
    margin-left: 1em;
    z-index: -1;
}

.tupeli-titulo {
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
}

.tupeli-anio {
    display: inline-block;
}

.tupeli-anio::before {
    content: "(";
}

.tupeli-anio::after {
    content: ")";
}

.tupeli-descripcion {
    font-size: 0.9em;
    color: gray;
}

.tupeli-rating {
    color: gold;
}

.tupeli-review {
    flex-wrap: wrap;
    margin-left: 1em;
}

.tupeli-comentario {
    padding: 1em 0;
    font-size: 1.5em;
    font-style: italic;
    font-family: 'Arvo', sans-serif;
    width: 100%;
}

.tupeli-comentario::before {
    content: "“";
}

.tupeli-comentario::after {
    content: "”";
}

.tupeli-autor {
    font-style: italic;
    text-align: right;
    line-height: 1.5em;
    margin-left: 1em;
}

.tupeli-imagen {
    margin: -1em 0 -1em -1em;
}

.tupeli-imagen img {
    height: 100%;
    width: 10vh;
    object-fit: cover;
    border-radius: 0.5em 0 0 0.5em;
}

.tupeli-promedio {
    display: inline-block;
    font-size: .7em;
    filter: contrast(0);
}

.pie {
    display: flex;
    background: #3c354a;
    color: #eee;
    justify-content: space-around;
    padding: 2em;
}

.pie a {
    text-decoration: none;
    color: #fff;
}

.pie .titulo {
    margin-bottom: 10px;
}


@media (min-width: 720px) {
    .header {
        flex-direction:row;
        justify-content: space-between;
    }

    .header-logo {
        display: flex;
    }

    .header-slogan {
        display: flex;
        align-self: center;
        margin-left: 1em;
        margin-top: 9px;
        font-size: 1em;
    }

    .header-nav {
        position: initial;
        background-color: transparent;
        backdrop-filter: none;
        transform: none;
        position: initial;
        height: auto;
        width: auto;
        top: 0;
        right: 0;
        flex-direction: row;
        justify-content: flex-end;
        opacity: 1;
    }

    .header-nav .link {
        font-size: 1.3em;
        border: none;     
    }

    .menu-mobile{
        display: none;
    }

    .header-title {
        margin-left: 1em;
        padding-left: 2.3em;
        line-height: 2em;
        font-size: 2em;
    }

    .titulo-principal { 
        font-size: 3em;
        margin: 1em .5em .5em;
    }

    .tupeli {
        padding: 2em;
        margin: 1em;
        border-radius: 1em;
        width: 45%;
    }

    .tupeli-peli-review {
        flex-direction: column-reverse;
    }

    .tupeli-review {
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: auto;
    }

    .tupeli-comentario {
        padding: .5em;
    }

    .tupeli-imagen {
        margin: 0;
    }

    .tupeli-imagen img {
        height: initial;
        width: 10vw;
        border-radius: 0.5em;
        box-shadow: 1px 10px 10px -10px;
    }

  }
